<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Slim3Annotations</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link href='//https://fonts.googleapis.com/css?family=Open+Sans%7CNixie+One&ver=4.5.3' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #336699;
                letter-spacing: -3px;
                font-family: 'Nixie One';
                font-size: 100px;
                font-weight: normal;
                margin-bottom: 0;
            }
        </style>
    </head>
    <body>
        <h1>Slim3Annotations</h1>
        <div>Annotations for the <a href="http://www.slimframework.com">Slim microframework for PHP</a></div>

        <h2>Hello {{hello}}!</h2>
        <p>Try <a href="http://www.slimframework.com">SlimFramework</a></p>
        <p>With <a href="https://intrawarez.github.io/slim3annotations/">IntraWarez/slim3annotations</a></p>
        
    </body>
</html>
