<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>SAM</title>
        <!--  
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link href='//https://fonts.googleapis.com/css?family=Open+Sans%7CNixie+One&ver=4.5.3' rel='stylesheet' type='text/css'>
        -->
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1, h2 {
                color: #336699;
                letter-spacing: -3px;
                font-family: 'Nixie One';
                font-weight: normal;
                margin: 0;
            }
            
            h1 {
                font-size: 100px;
            }
            
            h2 {
                font-size: 50px;
            }
        </style>
    </head>
    <body>
        <h1>SAM</h1>
        <h2>Slim Annotation Mapping</h2>
        <div>Annotations for the <a href="http://www.slimframework.com">Slim</a> microframework for PHP</div>
        <br>
        {% block content %}{% endblock %}
        <br>
        <p>Try <a href="http://www.slimframework.com">Slim</a></p>
        <p>With <a href="https://intrawarez.github.io/sam/">IntraWarez/SAM</a></p>
    </body>
</html>
